@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-menu, .question-screen {
    flex-grow: 1;
}

.katex-display {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0.5rem 0;
}